#xLable {
    display: block;
    font-size: 40px;

}

#yLable {
    display: block;
    font-size: 40px;

}

#zLable {
    display: block;
    font-size: 40px;

}

#aLable {
    display: block;
    font-size: 30px;
}

#roll {
    display: block;
    font-size: 30px;
}